{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<center> <h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
			MASS CUSTOMIZED <span class="c-theme-font c-font-bold">ELECTRIC MOTORS</span> MATCHING YOUR <span class="c-theme-font c-font-bold">SPECIFICATIONS</span> </h3></center>
			<h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
			START DESIGNING YOUR MOTOR </h5>
			<div class="form-inline" >
				<a href="/"><button class="btn btn-lg btn-danger c-btn-uppercase c-btn-square c-btn-bold">  START HERE</button></a>
			</div>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="{% static 'assets/base/img/content/backgrounds/2.png' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="{% static 'assets/base/img/content/backgrounds/1.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
	
</div>

{% endblock %}